@font-face {
    font-family: 'pt_sansregular';
    src: url('PTS55F-webfont.eot');
    src: url('PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
        url('PTS55F-webfont.woff2') format('woff2'),
        url('PTS55F-webfont.woff') format('woff'),
        url('PTS55F-webfont.ttf') format('truetype'),
        url('PTS55F-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: "PT Sans";
    margin: -7px 0 0 0;
    padding: 0;
}

button { 
    background-color: transparent;
}


header{
    position: relative;
    z-index: 100;
}


#covidBar {
    padding: 1px 0 9px 0;
    margin: 0;
    width:100%;
    height: 30px;
    background-color: RGB(21, 114, 229);
    font-size: 14px;
    color: white;
    position: relative;
    text-align: center;
    z-index: 0;
}

#covidLink {
    color: white;
    margin-left: 5px;
}

#xOut {
    width: 15px;
    height: 15px;
    position: relative;
    bottom: 34px;
    left: 1250px;
    z-index: 1;
    cursor: pointer;
}

#homeBar {
    background-color: white;
    width: 100%;
    height: 60px;
    position: relative;
}

#homeBarNav {
    height: 60px;
}

#adobeHomeImage {
    position: relative;
    left: 15px;
    top: 20px;
    width: 25px;
}

#adobeHomeText {
    width: 50px;
    position: relative;
    left: 45px;
    bottom: 21px;
    font-weight: bold;
    color: red;
    font-size: 17px;
}

#optionsHomeBar {
    padding: 0 200px 0 200px;
    font-size: 14px;
    z-index: 1;
    position: relative;
    bottom: 81px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

#caronOne{
    position: relative;
    z-index: 99;
    bottom: 48px;
    left: 70px;
    font-size: 30px;
    font-weight: lighter;
}

#caronTwo{
    position: relative;
    z-index: 99;
    bottom: 48px;
    left: 82px;
    font-size: 30px;
    font-weight: lighter;
}

#caronThree{
    position: relative;
    z-index: 99;
    bottom: 48px;
    left: 71px;
    font-size: 30px;
    font-weight: lighter;
}

#caronFour{
    position: relative;
    z-index: 99;
    bottom: 48px;
    left: 70px;
    font-size: 30px;
    font-weight: lighter;
}

#caronFive{
    position: relative;
    z-index: 99;
    bottom: 48px;
    left: 40px;
    font-size: 30px;
    font-weight: lighter;
}

#pseudoButtonOne{
    height: 53px;
    font-size: 14px;
    position: relative;
    padding:  7px 35px 0 20px;
    background-color: white;
    transition: 0.1s;
    transition-timing-function: ease-in-out;
}

#pseudoButtonOne:hover {
    background-color: #f5f5f5;
}

#pseudoButtonTwo{
    height: 53px;
    font-size: 14px;
    position: relative;
    padding:  7px 35px 0 20px;
    background-color: white;
    transition: 0.1s;
    transition-timing-function: ease-in-out;
}

#pseudoButtonTwo:hover {
    background-color: #f5f5f5;
}

#pseudoButtonThree{
    height: 53px;
    font-size: 14px;
    position: relative;
    padding:  7px 35px 0 20px;
    background-color: white;
    transition: 0.1s;
    transition-timing-function: ease-in-out;
}

#pseudoButtonThree:hover{
    background-color: #f5f5f5;
}

#pseudoButtonFour{
    height: 53px;
    font-size: 14px;
    position: relative;
    padding:  7px 35px 0 20px;
    background-color: white;
    transition: 0.1s;
    transition-timing-function: ease-in-out;
}

#pseudoButtonFour:hover{
    background-color: #f5f5f5;
}

#pseudoButtonFive{
    height: 53px;
    font-size: 14px;
    position: relative;
    padding:  7px 40px 0 20px;
    background-color: white;
    transition: 0.1s;
    transition-timing-function: ease-in-out;
}

#pseudoButtonFive:hover{
    background-color: #f5f5f5;
}

svg {
    width: 24px;
    height: 24px;
}


#searchIcon{
    position: relative;
    z-index: 100;
    width: 24px;
    height: 24px;
    left:1180px;
    bottom: 125px;
    fill: #505050;
    transition: 0.1s;
    transition-timing-function: ease-in-out;
}

#searchIcon:hover {
    fill: rgb(21, 114, 229)
}

#menu-toggle {
    display: none;
}

#collapse-menu {
    position: relative;
    width: 1280px;
    height: 80px;
    background-color: white;
    margin-top: -110px;
    transition: transform 0.1s;
    transform-origin: top;
    z-index: 110;
}

input {
    position: relative;
    width: 1158px;
    height: 34px;
    margin-left: 61px;
    margin-top: 20px;
    border: 1px solid  rgb(21, 114, 229);
    border-radius: 4px;
    font-size: 14px;
    background: url(assets/Screen\ Shot\ 2020-10-13\ at\ 11.08.48\ PM.png) no-repeat scroll 3px 3px;
    background-position-x: 1120px;
    z-index: 110;
}

input:not(:checked) ~ #collapse-menu {
    transform: scaleY(0);
}


#signIn{
    position: relative;
    left: 1215px;
    bottom: 121px;
    font-size: 14px;
    z-index: 2;
    color: black;
    text-decoration: none;
    transition: 0.1s;
    transition-timing-function: ease-in-out;
}

#signIn:hover{
    color: rgb(21, 114, 229);
}


#navBar {
    height: 80px; 
    background-color: RGB(250, 250, 250, 0.8);
    width: 100%;
    top: 0px;
    z-index: 101;
    position: sticky;
}

@supports (-webkit-overflow-scrolling: touch) {
    .header{
    background-attachment: scroll;
    }
}

#optionsNavBar {
    padding: 20px 300px 0 300px;
    font-size: 14px;
    height: 80px;
    z-index: 99;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    text-align: center;
    background-color: transparent;
    font-size: 13px;
}

#ButtonOne {
    padding: 0 20px 0 20px;
    position: relative;
    background-color: transparent;
    height: 80px;
    width: auto;
    bottom: 20px;
    transition: 0.1s;
    transition-timing-function: ease-in-out;
    z-index: 99;
    font-weight: bold; 
    font-size: 13px; 
    background-color: transparent; 
    border: transparent
}

#ButtonOne:hover {
    background-color: rgb(185, 185, 185, 0.5);
    z-index: 100;
}

#ButtonTwo {
    padding: 0 20px 0 20px;
    position: relative;
    background-color: transparent;
    height: 80px;
    width: auto;
    bottom: 20px;
    transition: 0.1s;
    transition-timing-function: ease-in-out;
    z-index: 99;
    font-size: 13px; 
    border: transparent
}

#ButtonTwo:hover {
    background-color: rgb(185, 185, 185, 0.5);
    z-index: 100;
}

#ButtonThree {
    padding: 0 20px 0 20px;
    position: relative;
    background-color: transparent;
    height: 80px;
    width: auto;
    bottom: 20px;
    transition: 0.1s;
    transition-timing-function: ease-in-out;
    z-index: 99;
    font-size: 13px; 
    border: transparent;
}

#ButtonThree:hover {
    background-color: rgb(185, 185, 185, 0.5);
    z-index: 100;
}

#ButtonFour {
    padding: 0 20px 0 20px;
    position: relative;
    background-color: transparent;
    height: 80px;
    width: auto;
    bottom: 20px;
    transition: 0.1s;
    transition-timing-function: ease-in-out;
    z-index: 99; 
    font-size: 13px; 
    border: transparent;
}

#ButtonFour:hover {
    background-color: rgb(185, 185, 185, 0.5);
    z-index: 100;
}

#ButtonFive {
    padding: 0 20px 0 20px;
    position: relative;
    background-color: transparent;
    height: 80px;
    width: auto;
    bottom: 20px;
    transition: 0.1s;
    transition-timing-function: ease-in-out;
    z-index: 99; 
    font-size: 13px; 
    border: transparent;
}

#ButtonFive:hover {
    background-color: rgba(185, 185, 185, 0.5);
    z-index: 100;
}

#chatBubble {
    background-color: white;
    width: 40px;
    height: 40px;
    padding: 18px 0 0 15px;
    justify-content: center;
    position: fixed;
    z-index: 99;
    border: 2px solid gray;
    border-radius: 100%;
    left: 1166px;
    top: 512px;
}


.video{
    position: relative;
    width: 100%; 
    height: 700px;
}

#headerVideo {
    position: relative;
    height: auto;
    width: 100%;
    top: -80px;
}

.videoOverlay{
    display: flex;
    flex-direction: column;
    z-index: 98;
    position: relative;
}

#overlayImage {
    position: relative;
    z-index: 1;
    bottom: 460px;
    left: 45px;
}

#videoHeading {
    position: relative;
    font-weight: bold;
    color:white;
    bottom: 470px;
    left: 48px;
    width: 400px;
    z-index: 1;
}

#videoText {
    position: relative;
    font-weight: bold;
    font-size: 17px;
    line-height: 2;
    color:white;
    bottom: 510px;
    left:48px;
    width: 470px;
    z-index: 1;
}

.videoButtons {
    position: relative;
    display: flex;
    bottom: 500px;
    left: 48px;
}

#whiteVideoButton {
    background-color: transparent; 
    border: 2px solid white; 
    border-radius: 25px; 
    width: 90px; 
    height: 32px; 
    color: white; 
    font-size: 13px;
    transition: 0.1s;
    transition-timing-function: ease-in-out;
}

#whiteVideoButton:hover{
    background-color: white;
    color: black;
    z-index: 99;
    border-radius: 25px;
}

#updateYourApps {
    margin-left: 30px;
    background-color: RGB(21, 114, 229); 
    border: 2px solid RGB(21, 114, 229); 
    border-radius: 25px; 
    width: 140px; 
    height: 32px; 
    color: white; 
    font-size: 13px;
    transition: 0.1s;
    transition-timing-function: ease-in-out;
}

#updateYourApps:hover {
    background-color: #0d66d0;
    border: 2px solid #0d66d0;
    z-index: 99;
    border-radius: 25px;
}

.centerSection {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    height: 200px;
}

#beatYourGoal {
    position: relative;
    width: 632px;
    height: auto;
    left: 23px;
    bottom: 226px;
}

.centerText {
    position: relative;
    width: 320px;
    height: 357px;
    font-size: 15.5px;
    left: 80px;
    bottom: 136px;
}

#centerTextHeading {
    position: relative;
    width: 305px;
    font-size: 27px;
    font-weight: lighter;
}

#centerTextPara {
    bottom: 8px;
}

.learnMore {
    color: rgb(46, 78, 255);
    text-decoration: none;
    font-size: 15.5px;
}

.learnMore:hover {
    text-decoration: underline;
}

.icons {
    position: relative;
    top: 140px;
}

#iconsTitle {
    color: #505050;
    margin-left: 107px;
    font-size: 16px;
}

.iconsTop {
    display: flex;
    flex-flow: row nowrap; 
    margin-left: 107px;
}

hr {
    width: 1066px;
    border: 1px solid #c9c9c9;
    margin-top: -5px;
}

h4 {
    font-size: 20px;
    font-weight: lighter;
}

#adobeXD {
    width: 355px;
    display: flex;
    flex-flow: row nowrap;
    color: #505050;
}

#iconXD {
    margin-top: 19px;
}

#XDheader {
    margin-top: 23px;
}

#textXD {
    margin-left: 12px;
    font-size: 16px;
    width: 250px;
}

#XDtext {
    margin-top: -17px;
}

#adobeIllustrator {
    width: 355px;
    display: flex;
    flex-flow: row nowrap;
    color: #505050;
}

#iconIllustrator {
    margin-top: 19px;
}

#textIllustrator {
    margin-left: 12px;
    margin-top: -5px;
    font-size: 16px;
    width: 250px;
}

#IllustratorHeader {
    margin-top: 18px;
}

#IllustratorText {
    margin-top: -16px;
}

#adobeInDesign {
    width: 355px;
    display: flex;
    flex-flow: row nowrap;
    color: #505050;
}

#iconInDesign {
    margin-top: 19px;
}

#textInDesign {
    margin-left: 12px;
    margin-top: -1px;
    font-size: 16px;
    width: 250px;
}

#InDesignHeader {
    margin-top: 23px;
}

#InDesignText {
    margin-top: -16px;
}

.iconsBottom {
    display: flex;
    flex-flow: row nowrap; 
    width: 60%;
    margin-left: 107px;
}

#adobeSpark {
    width: 355px;
    display: flex;
    flex-flow: row nowrap;
    color: #505050;
}

#iconSpark {
    margin-top: 19px;
}

#textSpark {
    margin-left: 12px;
    margin-top: -1px;
    font-size: 16px;
    width: 250px;
}

#sparkHeader {
    margin-top: 23px;
}

#sparkText {
    margin-top: -16px;
}

#CLL {
    width: 355px;
    display: flex;
    flex-flow: row nowrap;
    color: #505050;
}

#iconCLL {
    margin-top: 19px;
}

#textCLL {
    margin-left: 12px;
    margin-top: -1px;
    font-size: 16px;
    width: 250px;
}

#CLLheader {
    margin-top: 23px;
}

#CLLtext {
    margin-top: -16px;
}

